@media (max-width: 576px) {
  #banner {
    width: 100vw;
    height: 180px;
  }

  #about .container-md {
    padding-bottom: 0;
  }

  /* Chỉnh lại layout của phần navbar */
  .container-md a.float {
    display: block;
    border: none;
  }

  .float-left {
    float: none;
    text-align: left;
  }

  .float-right {
    float: none;
    text-align: left;
  }

  #about.bg-grey {
    background: #f7f7f7;
  }

  #target,
  #personal-info {
    padding: 50px 24px 50px 24px;
    font-size: 14px;
    /* height: 400px; */
  }

  #personal-info {
    background: #f1f3f5;
  }

  .prof-icon-box {
    flex-wrap: wrap;
    column-gap: 12px;
  }

  .prof-icon-box.hobby-box {
    /*Tạo margin cho khối icon phần Sở thích*/
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin-left: 0;
  }

  .certificate-border {
    border-bottom: 1px solid #d6c08d;
  }

  /* Thay thế đường border bằng thuộc tính border-bottom */
  .row .section-content:nth-child(2) .certificate:before,
  .row .section-content:nth-child(2) .certificate:after {
    display: none;
  }

  .cols-cell {
    flex-direction: column;
    align-items: flex-start;
  }

  .cols-cell .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  /*PROJECT SECTIONS*/
  #project-charter .grid > *:nth-child(4) .flex {
    flex-direction: column;
    gap: 12px;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  #project-charter .tag ul {
    padding-left: 16px;
  }
}
